<html>
  <div><br><br><br>
    <h1> Registration Form</h1><br>
    <br><br>
    <form><br><br>
      <table style="margin-left: 25%;"></table>
      
      <div class="form-group">
      <label>Participant Name</label>
       <input type="text" class="form-control" name="Participant Name" pattern="[a-zA-Z][a-zA-Z]+" required/><br><br>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/><br><br>
  </div>

  <div class="form-group">
    <label>Points</label>
    <input type="number" class="form-control" name="Points" min="2" max="5" required/><br><br>
  </div>

  <div class="form-group">
    <label>Phone number</label>
    <select name="data-countryCode" id="">
      <option data-countryCode="GB" value="44" Selected>IN (+91)</option>
  </select>
    <input type="text" class="form-control" name="Phone Number" pattern="[7-9]{1}[0-9]{9}"  required/><br><br>
  </div>

  <div class="form-group">
    <label>Salary</label>
    <input type="number" class="form-control" name="Salary" required/><br>
  </div>
 <br>
  <input type="submit" value="Submit">
  <input type="reset" value="Clear All">

  </form>
  </div>
</html>
